      <!-- when choose the exercise and click the submit button, pop up to input 
        the sets, reps and weights. -->
        
        <!-- The Modal -->
        <div id="myModal" class="modal">
        
          <!-- Modal content -->
          <div class="modal-content">
            <span class="close">&times;</span>
            <label for="sets" class="col-form-label">Set:</label>
            <input type="text" class="form-control" id="sets">
            <label for="weightUsed" class="col-form-label">Weight:</label>
            <input type="text" class="form-control" id="weightUsed">
            <label for="reps" class="col-form-label">Reps:</label>
            <input type="text" class="form-control" id="reps">
            <button type="submit" id="addBtn" class="btn btn-primary">Add</button>
          </div>
        
        </div>