<div id="lowerPage">
  <div class="lower-container">
      <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a id="logout" href="/main">Log Out</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{username}}</li>
      </ol>
      </nav>
      <h1>Lower Body</h1>
      <form action="/action_page.php">
        <input type="checkbox" name="lower1" value="Barbell Squats"> Barbell Squats<br>
        <input type="checkbox" name="lower2" value="Deadlift"> Deadlift<br>
        <input type="checkbox" name="lower3" value="Front Squats" checked> Front Squats<br>
        <input type="checkbox" name="lower4" value="Lunges"> Lunges<br>
        <input type="checkbox" name="lower5" value="Romanian Deadlift"> Romanian Deadlift<br>
        <input type="checkbox" name="lower6" value="Leg Extension"> Leg Extension<br>
        <input type="checkbox" name="lower7" value="Leg Curl"> Leg Curl<br>
        <input type="checkbox" name="lower8" value="Calf Raises"> Calf Raises<br><br>
      </form> 
    
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Choose</button> 

  </div>
</div>

<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Fill out your information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Sets:</label>
            <input type="text" class="form-control" id="sets">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Reps:</label>
              <input type="text" class="form-control" id="reps">
          </div>
          <div class="form-group">
              <label for="recipient-name" class="col-form-label">Weight Used:</label>
              <input type="text" class="form-control" id="weightUsed">
          </div>
        
        </form>
      </div>
      <div class="modal-footer">
        <button id ="add" type="button" class="btn btn-primary">Add</button>
      </div>
    </div>
  </div>
</div> 