<h1>Lower Body</h1>
<div id="lowerPage">
  <div class="lower-container">
     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a id="mainPage" href="/main">Go back</a></li>
       <li class="breadcrumb-item active" aria-current="page">{{username}}</li>
      </ol>
     </nav>
<form action="/action_page.php">
<input type="checkbox" name="lower1" value="Bike"> Dumbbell Bench Press. Superset with Dips. 3 sets, 8-10 reps.<br>
<input type="checkbox" name="lower2" value="Car"> Standing Dumbbell Upright Row. 3 sets, 10-12 reps.<br>
<input type="checkbox" name="lower3" value="Boat" checked> Incline Push-Up. 3 sets, 8-15 reps.<br><br>
</form>
<button type="submit" id="myBtn" class="btn btn-primary">Choose</button>
  </div>
</div>