<div id="exercisePage">
    <div class="container">
     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a id="logout" href="/login">Log Out</a></li>
       <li class="breadcrumb-item active" aria-current="page">{{username}}</li>
      </ol>
     </nav>

      <div class="row">
       <div class="col-md-4">
        <div class="card" style="width: 18rem;">
         <div class="card-body">
          <h4 class="card-text">Upper Body</h4>
          <a href="/upperbody" class="card-link">Let's Go!</a>
         </div>
        </div>
       </div>
       <div class="col-md-4">
        <div class="card" style="width: 18rem;">
         <div class="card-body">
          <h4 class="card-text">Lower Body</h4>
          <a href="/lowerbody" class="card-link">Let's Go!</a>
         </div>
        </div>
       </div>
        
       <div class="col-md-4">
        <div class="card" style="width: 18rem;">
         <div class="card-body">
          <h4 class="card-text">Track History</h4>
          <a href="/history"  id="track" class="card-link">Go Tracking!</a>
         </div>
        </div>
       </div>
      </div>