<div id="exercisePage">
  <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a id="logout" href="login.html">Log Out</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{username}}</li>
      </ol>
  </nav>
  <div class="container">
      <div class="row">
      <div class="col-md-4">
      <div id ="upCard" class="card" style="width: 18rem;">
          <div class="card-body">
          <h4 class="card-text">Upper Body</h4>
          <a href="upper.handlebars" class="card-link">Let's Go!</a>
          </div>
      </div>
      </div>
      <div class="col-md-4">
      <div id="lowCard" class="card" style="width: 18rem;">
          <div class="card-body">
          <h4 class="card-text">Lower Body</h4>
          <a href="lowerPage.handlebars" class="card-link">Let's Go!</a>
          </div>
      </div>
      </div>
      
      <div class="col-md-4">
      <div id="historyCard" class="card" style="width: 18rem;">
          <div class="card-body">
          <h4 class="card-text">Track History</h4>
          <a href="history.handlebars" id="track" class="card-link">Go Tracking!</a>
          </div>
      </div>
      </div>
</div>