<nav class="navbar navbar-expand-lg navbar-light bg-light mb-2">
  <h1 class="mr-auto">Welcome Back {{user}}</h1>
  <button type="submit" class="btn btn-primary mx-1 logout">Logout</button>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div id ="upperbody" class="card" style="width: 18rem; cursor: pointer;">
        <div class="card-body">
          <h4 class="card-text">Upper Body</h4>
        </div>
      </div>
    </div>
  <div class="col-md-4">
    <div id="lowerbody" class="card" style="width: 18rem; cursor: pointer;">
      <div class="card-body">
        <h4 class="card-text">Lower Body</h4>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div id="history" class="card" style="width: 18rem; cursor: pointer;">
      <div class="card-body">
        <h4 class="card-text">Track History</h4>
      </div>
    </div>
  </div>
</div>
<script src="/js/menu.js"></script>