<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Workout Tracking</h1>
        <h2 class="lead">You can feel sore tomorrow, or you can feel sorry tomorrw, you choose!!</h2>
    </div>
</div>
       

<div class="container">
 <div class = "rows">
   <div class="col-md-3"></div>
   <div class="col-md-6"> 
        <form>
            <div class="form-group">
                <label for="newuser">Username</label>
                <input id ="newUser" type="text" class="form-control" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="Password1">Password</label>
                <input type="password" class="form-control" id="password1" placeholder="Password">
            </div>
            <button id ="signup" type="submit" class="btn btn-primary">Sign Up</button>
        </form>
  </div> 
  <div class="col-md-3"></div>
 </div>
</div>