<!-- [ UserData {
    dataValues:
     { id: 4,
       userId: 2,
       exerciseId: 1,
       sets: 3,
       reps: 10,
       weightUsed: 200,
       createdAt: Invalid Date,
       updatedAt: Invalid Date }, -->

<p> this is a placeholder for the history of a specific exercise per user </p>

<p> hopefully this data can leverage an api to show charts </p>