<form>
  <div class="form-row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Username" name="username" id="username">
    </div>
    <div class="col">
      <input type="password" class="form-control" placeholder="Password" name="password" id="password">
    </div>
    <button type="submit" class="btn btn-primary login">Sign in</button>
    <button type="submit" class="btn btn-primary register">Register</button>
  </div>
</form>
<script src="/js/login.js"></script>