   
<h1>Upper Body</h1>
<div id="upperPage">
  <div class="upper-container">
     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a id="mainPage" href="/main">Go back</a></li>
       <li class="breadcrumb-item active" aria-current="page">{{username}}</li>
      </ol>
     </nav>
    <form>
        <input type="checkbox" name="upper1" value="dumbbell"> Dumbbell Bench Press. Superset with Dips. 3 sets, 8-10 reps.<br>
        <input type="checkbox" name="upper2" value="standing"> Standing Dumbbell Upright Row. 3 sets, 10-12 reps.<br>
        <input type="checkbox" name="upper3" value="incline" checked> Incline Push-Up. 3 sets, 8-15 reps.<br><br>
    </form>
    <button type="submit" id="myBtn" class="btn btn-primary">Complete</button>

  </div>
</div>