   
<h1>Upper Body</h1>
<div id="upperPage">
  <div class="upper-container">
     <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
       <li class="breadcrumb-item"><a id="mainPage" href="/main">Go back</a></li>
       <li class="breadcrumb-item active" aria-current="page">{{username}}</li>
      </ol>
     </nav>
    <form>
        <input type="checkbox" name="upper1" value="dumbbell"> Dumbbell Bench Press. Superset with Dips. 3 sets, 8-10 reps.<br>
        <input type="checkbox" name="upper2" value="standing"> Standing Dumbbell Upright Row. 3 sets, 10-12 reps.<br>
        <input type="checkbox" name="upper3" value="incline" checked> Incline Push-Up. 3 sets, 8-15 reps.<br><br>
    </form>
     <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Choose</button> 

  </div>
</div>

  <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Sets:</label>
                    <input type="text" class="form-control" id="sets">
                  </div>
                  <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Reps:</label>
                      <input type="text" class="form-control" id="reps">
                  </div>
                  <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Weight Used:</label>
                      <input type="text" class="form-control" id="weightUsed">
                  </div>
                
                </form>
              </div>
              <div class="modal-footer">
                <button id ="add" type="button" class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        </div> 