<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a id="logout" href="/main">Log Out</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{username}}</li>
  </ol>
</nav>
<div id="upperPage">
  <div class="upper-container">
    <h1>Upper Body</h1>
    <form class="exLink">
        {{#each div}}
         {{#each exercise}}
          <a href="#" data-toggle="modal" data-target ="#myModal">
          {{#if upperBody}}
           {{> exercise upperBody=true}}
          {{/if}}
          </a>
         {{/each}}
        {{~/each}}
        {{!-- <input type="checkbox" name="upper2" value="Incline Bench Press"> Incline Bench Press<br>
        <input type="checkbox" name="upper3" value="Dumbbell Bench Press" checked> Dumbbell Bench Press<br>
        <input type="checkbox" name="upper4" value="Dips"> Dips<br>
        <input type="checkbox" name="upper5" value="Barbell Row"> Barbell Row<br>
        <input type="checkbox" name="upper6" value="Dumbbell Rows"> Dumbbell Rows<br>
        <input type="checkbox" name="upper7" value="Pullups"> Pullups<br>
        <input type="checkbox" name="upper8" value="Lat Pulldown"> Lat Pulldown<br>
        <input type="checkbox" name="upper9" value="Overhead Press"> Overhead Press<br>
        <input type="checkbox" name="upper10" value="Lateral Raise"> Lateral Raise<br><br> --}}
    </form>

  </div>
</div>

  <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter your information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form>
                  <div class="form-group">
                    <label for="recipient-name" class="col-form-label">Sets:</label>
                    <input type="text" class="form-control" id="sets">
                  </div>
                  <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Reps:</label>
                      <input type="text" class="form-control" id="reps">
                  </div>
                  <div class="form-group">
                      <label for="recipient-name" class="col-form-label">Weight Used:</label>
                      <input type="text" class="form-control" id="weightUsed">
                  </div>
                
                </form>
              </div>
              <div class="modal-footer">
                <button id ="add" type="button" class="btn btn-primary">Add</button>
              </div>
            </div>
          </div>
        </div> 