body {
  background-image: url("https://cdn.images.express.co.uk/img/dynamic/11/590x/secondary/Gym-workout-diet-1177877.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Merienda', cursive;
}

.card {
  position: relative;
  -webkit-animation: mymove 5s infinite; /* Safari 4.0 - 8.0 */
  animation: mymove 5s infinite;
}

#upperbody {
  background: rgb(202, 147, 187, 0.9);
  padding: 100px 50px;
  border-radius: 150px;

}

#lowerbody {
  background: rgb(202, 147, 187, 0.7);
  padding: 150px 50px;
  border-radius: 150px;
}

#history {
  background: rgb(202, 147, 187, 0.5);
  padding: 200px 50px;
  border-radius: 150px;
}

h4 {
  text-shadow: 0 0 3px #FF0000;
}
